.productList {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}
.productFilter {
  border: 1px solid #ccc;
  text-align: right;
  padding: 20px;
}
.productFilter select {
  width: 10%;
  padding: 10px;
  border: 1px solid #ccc;
}
.product img {
  padding: 20px 0;
  background: transparent;
  width: 80%;
}
.product:hover {
  background: #ededed;
}
.product {
  padding: 30px 0;
  position: relative;
  border: 1px solid #ccc;
}
.product span {
  color: red;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  border: 1px solid;
  padding: 10px 20px;
  top: 5px;
  left: 0px;
  background: #fff;
}
.product h3 {
  display: block;
  font-size: 15px;
}
